body {
    background-color: lightgray;
}

.aueb-header{
    background-color: brown;
}

.cf-header {
background-color: green;
}

.aueb-text {
    background-color: blue;
}
.fg-ligth {
    color: white;
}