USE [School6DB]
GO
/****** Object:  Table [dbo].[CITIES]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIES](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[REGION_ID] [int] NULL,
	[PREFECTURE_ID] [int] NULL,
 CONSTRAINT [PK_CITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[ID] [int] NOT NULL,
	[TITLE] [nvarchar](50) NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFECTURES]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFECTURES](
	[ID] [int] NOT NULL,
	[NAME] [nchar](10) NULL,
	[REGION_ID] [int] NOT NULL,
 CONSTRAINT [PK_PREFECTURES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGIONS]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIONS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_REGIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECIALITIES]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALITIES](
	[ID] [int] NOT NULL,
	[TITLE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SPECIALITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[ID] [int] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[DATE_OF_BIRTH] [nvarchar](50) NULL,
	[MARRIED] [nvarchar](50) NULL,
	[GENDER] [nvarchar](50) NULL,
	[PHONE_NUMBER] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[REGION_ID] [int] NULL,
	[PREFECTURE_ID] [int] NULL,
	[CITY_ID] [int] NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS_COURSES]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS_COURSES](
	[STUDENT_ID] [int] NULL,
	[COURSE_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[PHONE_NUMBER] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[SPECIALITY_ID] [int] NULL,
 CONSTRAINT [PK_TEACHERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS_STUDENTS]    Script Date: 3/30/2024 3:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS_STUDENTS](
	[TEACHERS_ID] [int] NULL,
	[STUDENT_ID] [int] NULL,
	[TITLE] [nchar](10) NULL,
	[DAY] [nchar](10) NULL,
	[TIME] [nchar](10) NULL,
	[ROOM] [nchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_PERFECTURES_CITIES] FOREIGN KEY([PREFECTURE_ID])
REFERENCES [dbo].[PREFECTURES] ([ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_PERFECTURES_CITIES]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_REGIONS_CITIES] FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[REGIONS] ([ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_REGIONS_CITIES]
GO
ALTER TABLE [dbo].[PREFECTURES]  WITH CHECK ADD  CONSTRAINT [FK_REGIONS_PREFECTURES] FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[REGIONS] ([ID])
GO
ALTER TABLE [dbo].[PREFECTURES] CHECK CONSTRAINT [FK_REGIONS_PREFECTURES]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_STUDENTS] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[CITIES] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_CITIES_STUDENTS]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_PREFECTURES_STUDENTS] FOREIGN KEY([PREFECTURE_ID])
REFERENCES [dbo].[PREFECTURES] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_PREFECTURES_STUDENTS]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_REGIONS_STUDENTS] FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[REGIONS] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_REGIONS_STUDENTS]
GO
ALTER TABLE [dbo].[STUDENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COURSES_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS_COURSES] CHECK CONSTRAINT [FK_STUDENTS_COURSES_COURSES]
GO
ALTER TABLE [dbo].[STUDENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_COURSES_STUDENTS] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS_COURSES] CHECK CONSTRAINT [FK_STUDENTS_COURSES_STUDENTS]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALITIES_TEACHERS] FOREIGN KEY([SPECIALITY_ID])
REFERENCES [dbo].[SPECIALITIES] ([ID])
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [FK_SPECIALITIES_TEACHERS]
GO
ALTER TABLE [dbo].[TEACHERS_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_TEACHERS_STUDENTS] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([ID])
GO
ALTER TABLE [dbo].[TEACHERS_STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_TEACHERS_STUDENTS]
GO
ALTER TABLE [dbo].[TEACHERS_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHERS_TEACHERS_STUDENTS] FOREIGN KEY([TEACHERS_ID])
REFERENCES [dbo].[TEACHERS] ([ID])
GO
ALTER TABLE [dbo].[TEACHERS_STUDENTS] CHECK CONSTRAINT [FK_TEACHERS_TEACHERS_STUDENTS]
GO
